.intro-page {
margin-left: 30px;
margin-right: 20px;

}
.intro-page h1 {
  font-family: cursive;
}
.container{

  max-width: 900px !important;
  margin: auto;
  margin-top: 4%;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
img {
  max-width: 100%;
  border-radius: 50%;
  float: left;
margin-right: 10px;
}
.msg-header {
  border: 1px solid #ccc;
  width: 100%;
  height: 10%;
  border-bottom: none;
  display: inline-block;
  background-color: #007bff;
}
.msg-header-logo {
  border-radius: 50%;
  width: 100px;
  margin-left: 5%;
  margin-top: 12px;
}
.active {
  width: 120px;
  float: left;
  margin-top: 10px;

}
.active h4 {
  font-size: 20px;
  margin-left: 20px;
  color: #ffff;
}
.active h6 {
  font-size: 10px;
  margin-left: 20px;
  color: #ffff;
line-height: 2;
}
.header-icons {

  width: 120px;
  margin: 12px 10px 0 0;
float: right;
}
.fas {
  color: #ffff;
  cursor: pointer;
  margin: 10px;
}
.chat-page {
  padding: 0 0 50px 0;
}
.msg-inbox {
  border: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 30px;
}
.chats {
  padding: 30px 15px 0 25px
}
.msg-page {
  height: 516px;
  overflow-y: auto;
}
.recieved-chats-img {
  display: inline-block;
  width: 150px;
  float: left;

}
.recieved-msg {
display: inline-block;
padding: 0 0 0 10px;
vertical-align: top;
width: 92%;
}
.recieved-msg-inbox {
  width: 57%;
}
.recieved-msg-inbox p {
background: #efefef none repeat scroll 0 0;
border-radius: 15px;
color: #646464;
font-size: 15px;
margin: 0;
padding: 5px 10px 5px 12px;
width: 100%;
}
.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}
.outgoing-chats-msg p {
  background: #007bff none repeat scroll 0 0;
  color: #ffff;
  border-radius: 10px;
  font-size: 15px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 60%;
}
.outgoing-chats-msg {
  float: left;
  width: 50%;
  margin-left: 65%;
}
.msg-bottom {
  position: relative;
  height: 70px;

  background-color: #007bff;
}
.input-group {
  float: right;
  margin: 13px;
  margin-right: 20px;
  outline: none !important;
  border-radius: 20px;
  width: 61% !important;
  background-color: #ffff;
}
.form-control {
  border: none !important;
  border-radius: 20px !important;
}
.input-group-text {
  background: transparent !important;
  border: none !important;
}
.input-group-text .fas {
  color: #007bff;
  float: right;

}
.bottom-icons {
  float: left;
  margin-top: 17px;
  width: 30% !important;
  margin-left: 22px;

}
.bottom-icons .fas {
  color: #ffff;
  padding: 5px;
}
.form-control :focus {
border-color: none !important;
box-shadow: none !important;
border-radius: 20px;
}
